/* 992 to 1200*/
@media screen and (max-width: 1200px) {
    body {
        /*background: #40cc10;*/
    }
    .container {
        max-width: 990px;
    }
    .navigation {
        max-width: 570px;
    }
    .navbar__link {
        padding: .6rem .3rem;
        font-size: .9rem;

    }

    .nav__access__icon {
        padding: .5rem;
    }
    .slider__text {
        font-size: 3rem;
    }

    .slider__title {
        font-size: 2.5rem;
    }

    .slider__caption {
        font-size: 1rem;
        max-width: 400px;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
    }

    .product {
        /*flex-basis: 30%;*/
    }
    .comment {
        width: 70%;
    }

}