@import "normalize.css";

body {
    /*background: skyblue;*/
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    color: #333;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, p, span, i, a {
    font-family: sans-serif;
    color: #333;
}


.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 .75rem;
    position: relative;
}

.header {
    background: #FFF;
}

.header__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.header__area__list {
    display: flex;
    align-items: center;
}

.header__area__link {
    display: block;
    padding: 1rem;
    font-size: .9rem;
}

.header__area__social .header__area__link {
    padding: 0 1rem;
    border-right: 1px solid #e2e2e2;

}

.header__area__icon {
    display: block;
    padding: .7rem;
    color: #888;
    transition: all 400ms ease-out 0s;
    cursor: pointer;
}

.header__area__icon:hover {
    color: #FF2020;
    transform: rotate(180deg);
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

}

.navbar {
    display: none;
}

.navigation {
    flex-grow: 1;
    max-width: 750px;
}

.navigation__list {
    display: flex;
    justify-content: space-evenly;
}

.navbar__link {
    display: block;
    padding: .7rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 400ms ease-out 0s;
}

.navbar__link:hover {
    transform: scale(1.05);
    color: #ff2020;
}

.nav__access {

}

.nav__access__icon {
    font-size: 1.5rem;
    color: #555;
    padding: .6rem 1rem;
    cursor: pointer;
    transition: transform 200ms;
}

.discount__box {
    max-width: 100%;
    width: 100%;
    background: #000;
    color: #FFF;
}

.discount__text {
    text-align: center;
    line-height: 2rem;
    padding: 1rem .5rem;
    margin: 0 auto;
}

.discount__link {
    color: #CEBD9C;
    border-bottom: 1px solid #CEBD9C;
    padding-bottom: .5rem;
    transition: all 400ms ease-out;
    font-weight: 600;
}

.discount__link:hover {
    letter-spacing: 3px;
}

.slider {
    width: 100%;
    float: left;
}


.slide {
    width: 100%;
    min-height: 80vh;
    background: url("../img/h1_hero2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero::after {
    content: " ";
    clear: both;
    display: table;
}

.hero__title {
    max-width: 50%;
    width: 600px;
    text-align: center;
}

.slider__text {
    color: #FF2020;
    font-size: 3.5rem;
    font-family: "Clicker Script", cursive;
    font-weight: 500;
}

.slider__title {
    font-size: 3.3rem;
    font-weight: 400;
    font-family: sans-serif;
    margin: 1rem 0;
}

.slider__caption {
    font-size: 1.2rem;
    color: #74706B;
    line-height: 2rem;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.slider__btn {
    padding: 1rem 3rem;
    background: #111;
    color: #FFF;
    border: none;
    cursor: pointer;
    font-weight: 600;
}


.discount--packages {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.discount--package {
    flex-basis: 30%;
    position: relative;
    overflow: hidden;
    display: block;
}

.lin__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

.package__img {
    display: block;
    transition: all linear 400ms;
    overflow: hidden;
    cursor: pointer;
}

.package__text {
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: all 400ms ease-out;
}

.package__title {
    color: #FFF;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.package__btn {
    color: #CEBD9C;
    border-bottom: #CEBD9C;
    opacity: 0;
    transition: all 400ms ease-out;
}

.discount--package:hover .package__text {
    bottom: 40px;
}

.discount--package:hover .package__btn {
    opacity: 1;

}

.package__btn:hover {
    letter-spacing: 3px;
}

.discount--package:hover .package__img {
    transform: scale(1.05);
}


.category {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E2E2E2;
}

.category__title {
    font-size: 2rem;
    /*font-weight: 500;*/
}

.category__list {
    display: flex;
    align-items: center;
}

.category__item {
    display: block;
    padding: 1.5rem 1rem;
    margin-right: .4rem;
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: all 400ms ease-out;

}

.category__item:hover {
    border-bottom: 2px solid #ff253a;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 20px;
}

.product {
    flex-basis: 23%;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.product:hover .product__icon {
    transform: translate(-50%) scale(1);
    opacity: 1;
}

.product__picture {
    /*padding: 10px;*/
}

.product__icon {
    background: #FFF;
    width: fit-content;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    font-size: 1.3rem;
    opacity: 0;
    transition: all 400ms ease-out;
    display: flex;
    justify-content: space-evenly;
}

.product__icon a {
    display: block;
    color: #666;
    padding: 1rem;
    transition: all 400ms ease-out;
    font-weight: 501;
}

.product__icon a:hover {
    background: #ff253a;
    color: #FFF;

}

.product__info {


}

.product__name {
    margin: .5rem 0 1rem;
    font-size: 1.2rem;
}

.disprice {
    font-size: 1.2rem;
    color: #CEBD9C;

}

.price {
    margin-right: 20px;
    font-size: 1.2rem;
}

.comments {
    margin-top: 3rem;
    padding: 6rem 0;
    background: #F3EAD8;
}

.comment {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.comment__title {
    font-size: 2rem;
    font-weight: 500;
}

.comment__text {
    font-size: 1.3rem;
    margin: 2rem 0;
    line-height: 2.3rem;
}

.comment__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
}

.profile__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.profile__info {
    margin-left: 20px;
    text-align: left;
}

.profile__name {
    margin: 10px 0;
}

.profile__job {

}
.like__title{
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.news {
    margin: 100px 0;
    padding: 100px 0;
    background: #F6F6F6;
}

.news__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;

}



.news__cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}
.news__card:hover{
    box-shadow: 2px 2px 20px #888;
}
.news__card {
    padding: 20px;
    flex-basis: 33%;
    transition: all 300ms ease-out;
}

.card__picture {

}

.card__picture img {

}

.card__text {
    margin: .6rem 0;
}

.card__category {

}

.card__title {
    margin: 1rem 0;
    transition: all 300ms ease-out;
}
.news__card:hover  .card__title{
    color: #FF2020;
}
.card__desc {
    margin: 1rem 0;
    line-height: 25px;
}

.card__link {
    padding: .6rem;
}


.categories__area {


}

.area__picture {


}

.area__title {


}

.area__text {


}

.products {
    /*overflow: hidden;*/
}

.cat__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
}
.cat__box {
    text-align: center;

}

.cat__icon {
    margin: 0 auto;
    width: 70px;
}

.cat__text {
    padding-top: 30px;
}

.cat__title {
font-size: 1.2rem;
}

.cat__detail {
    padding-top: 30px;
    font-size: 1rem;

}

.footer {
    border: 1px solid #000;
    margin-top: 100px;
    background: #000;

}

.footer__content {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    padding: 100px 0;

}

.footer__logo {

}

.footer__item {


}

.item__title {
    font-size: 1.5rem;
    color: #FFF;
    margin-bottom: 30px;
}

.item__lists {
    display: flex;
    flex-direction: column;
}

.item__list {
    display: block;
    color: #e2e2e2;
    padding: 10px;
}