@import "normalize.css";

body {
    font-family: sans-serif;
    background: skyblue;
    height: 4000px;
    color: #333;
    letter-spacing: 1px;
}
a{
    color: #333;
}


.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 .75rem;
    position: relative;
}

.header {
    background: #FFF;
}

.header__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.header__area__list {
    display: flex;
    align-items: center;
}

.header__area__link {
    display: block;
    padding: 1rem;
    font-size: 14px;
}


.header__area__icon {
    display: block;
    padding: .7rem;
    color: #666;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

}

.navbar {
    display: none;
}

.navigation {
    flex-grow: 1;
    max-width: 700px;
}

.navigation__list {
    display: flex;
    justify-content: space-evenly;
}

.navbar__link {
    display: block;
    padding: .7rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav__access {
    font-size: 1.5rem;
    color: #444;
}

.nav__access__icon {
    padding: .6rem  1rem;
    cursor: pointer;
}

.discount__box {
    background: #000;
    color: #FFF;
}

.discount__text {
    text-align: center;
    line-height: 2rem;
    padding: 1rem;
    margin: 0 auto;
}

.discount__link {
    color: #CEBD9C;
    border-bottom: 1px solid #CEBD9C;
    padding-bottom: .5rem;
}

.slider {
    width: 100%;
    float: left;
}


.slide {
    width: 100%;
    min-height: 700px;
    background: url("../img/h1_hero2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero__title {
    max-width: 50%;
    width: 600px;
    text-align: center;
}

.slider__text {
    color: #FF2020;
    font-size: 3.5rem;
    font-family: "Clicker Script", cursive;
    font-weight: 500;
}

.slider__title {
    font-size: 3.3rem;
    font-weight: 400;
    font-family: sans-serif;
    margin: 1rem 0;
}

.slider__caption {
    font-size: 1.2rem;
    color: #74706B;
    line-height: 2rem;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.slider__btn {
    padding: 1rem 3rem;
    background: #111;
    color: #FFF;
    border: none;
    cursor: pointer;
    font-weight: 600;
}


.discount--packages {
    border: 1px solid #000;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.discount--package {
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
}

.package__img {
    display: block;
    transition: all linear 400ms;
    overflow: hidden;
}

.package__text {
    position: absolute;
    width: 100%;
    bottom: -100px;
    /*bottom: 0;*/
    color: #FFF;
    transition: all 400ms linear;
}

.discount--package:hover .package__text {
    bottom: 20px;

}
.discount--package:hover .package__btn{
visibility: visible;
}

.discount--package:hover .package__img {
    transform: scale(1.05);
}

.package__title {
    font-size: 25px;
    margin-bottom: 30px;
}

.package__btn {
    color: #CEBD9C;
    border-bottom: #CEBD9C;
    padding-bottom: 50px;
    font-size: 1rem;
    visibility: hidden;
    transition: all 50ms linear;
}

.category {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E2E2E2;
}

.category__title {
    font-size: 35px;
    font-weight: 500;
}

.category__list {
    display: flex;
    align-items: center;
}

.category__item {
    display: block;
    padding: 20px 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #333;
}

.category__item:hover {
    /*border-bottom: 1px solid #ff253a;*/
    /*text-decoration: 1px underline;*/
}

.products {

    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    /*flex-wrap: wrap;*/
    margin-top: 50px;
    /*gap: 10px;*/
}

.product {
    flex-basis: 25%;
    text-align: center;
    position: relative;

}

.product:hover .product__icon {
    visibility: visible;
}

.product__picture {
    padding: 10px;
    /*border: 1px solid #000;*/
}

.product__icon {
    background: #FFF;
    width: fit-content;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    visibility: hidden;
    transition: visibility 200ms linear;
    display: flex;
    justify-content: space-evenly;
    /*width: fit-content;*/
    /*padding: 10px 0;*/
}

.product__icon a {
    display: block;
    color: #555;
    padding: 15px 15px;
    transition: background-color 300ms linear;
    font-weight: 501;
    /*border: 1px solid #000;*/
}

.product__icon a:hover {
    background: #ff253a;
    color: #FFF;
}

.product__info {

    /*margin: 10px 0;*/

}

.product__name {
    margin-bottom: 10px;
    font-size: 25px;
}

.disprice {
    font-size: 20px;

}

.price {

    font-size: 20px;
}

.comments{
    margin-top: 50px;
    background: #CEBD9C;
    padding: 100px 0;
}
.comment{
text-align: center;
    width: 50%;
    margin: 0 auto;
    /*border: 1px solid #000;*/
}
.comment__title{
font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;


}
.comment__text{
    font-size: 22px;
    margin: 20px 0;
    line-height: 30px;
}
.comment__profile{
    /*border: 1px solid #000;*/
    width: fit-content;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    /*width: 20%;*/
}

.profile__img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.profile__info{
    margin-left: 10px;

}
.profile__name{
    margin: 10px 0;
}
.profile__job{

}

.news{
    border: 1px solid #000;
    margin-top: 100px;
}
.news__title{
    
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
}
.news__cards{
    display: flex;

}
.news__card{
    padding: 10px;
}
.card__picture{

}
.card__picture img{

}
.card__title{
    
    
}
.card__text{
    
    
}
.card__link{
    
    
}


.categories__area{


}
.area__picture{


}
.area__title{


}
.area__text{


}







