/*768 to 992*/
@media screen and (max-width: 992px) {

    body {
        background: salmon;
    }

    .container {
        max-width: 720px;
    }

    .header__area__link {
        padding: 1rem .5rem;
    }

    .header__area__icon {
        padding: .7rem .4rem;
    }


    .navigation__list {
        display: none;
    }

    .nav__access {
        display: none;
    }

    .navbar {
        font-size: 1.2rem;
        cursor: pointer;
        display: block;
    }
    .hero__content {
        height: 600px;
    }
    .slide {
        min-height: 600px;
        background-position: 40% 0;
    }
    .slider__title {
        font-size: 2.2rem;
    }

    .slider__caption {
        max-width: 350px;
    }

    .discount--packages {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .discount--package {
        flex-basis: 48%;
    }
    .product {
        flex-basis: 50%;
    }

    .comment {
        width: 80%;
    }

    .news__cards {
        display: flex;
        flex-wrap: wrap;

    }

    .news__card {
        flex-basis: 50%;
    }
    .cat__category {
    flex-wrap: wrap;
    }
    .cat__box{
        flex-basis: 48%;
    }
    .footer__content{
        flex-wrap: wrap;
    }
    .footer__logo{
        flex-basis: 50%;
        /*flex-grow: 1;*/
    }
    .footer__item{
        flex-basis: 30%;
    }
}
