/*375 to 768*/
@media screen and (max-width: 768px) {
    body {
        background: deepskyblue;
    }

    .container {
        max-width: 600px;
    }
    
    .header__area__menu{
        display: none;
    }

    .header__area__social{
        margin: 0 auto;
    }

    .discount__text{
        max-width: 450px;

    }

    .slide {
        min-height: 500px;
    }

    .hero__content{
        height: 500px;
    }

    .hero__title{
        width: 560px;
        text-align: center;
    }

    .slider__text {
        font-size: 2.8rem;
    }

    .slider__title {
        font-size: 1.7rem;

    }

    .slider__caption {
        margin: .6rem auto;
        line-height: 25px;
        max-width: 250px;
    }

    .slider__btn {
        padding: 1rem 2.5rem;
        margin-top: 5px;
    }

    .category{
        flex-wrap: wrap;
    }
    .category__list {
        margin-top: 20px;
    }
    .news__card{
        flex-basis: 70%;
        margin: 0 auto;
    }
}





@media screen and (max-width: 568px) {

    body {
        background: pink;
    }

    .container {
        max-width: 100%;
    }

    .header__area{
        display: none;
    }

    .discount__text{
        max-width: 350px;

    }

    .slide {
        min-height: 410px;
    }

    .hero__content{
        height: 410px;
        left: 0;
    }
    .hero__title{
        max-width: 100%;
    }
    
    .slider__text {
        font-size: 3rem;
    }

    .slider__title {
        font-size: 2.2rem;
    }

    .slider__caption {
        margin: 1.2rem auto;
        line-height: 30px;
        max-width: 400px;
    }

    .slider__btn {
        padding: .8rem 2rem;
    }

    .discount--package{
        flex-basis: 80%;
    }
    .news__card{
        flex-basis: 90%;
        margin: 0 auto;
    }

}




@media screen and (max-width: 375px) {
    /*small mobile*/

    body {
        background: greenyellow;
    }

    .container {
        max-width: 100%;
    }

    .discount__text{
        max-width: 290px;

    }

    .discount--package{
        flex-basis: 100%;
    }
    .news__card{
        flex-basis: 100%;
        margin: 0 auto;
    }

}